<div class="defined_filters">
  <%= debug(params[:filter]) %>
  <% selected_attributes = [] %>
  <%= show_filter(@model_class, params, selected_attributes, @ajax_id) %>
</div>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="filter<%= @ajax_id -%>" data-toggle="dropdown" aria-expanded="true">
    <%= t(:filter_by) %>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="filter_dropdown<%= @ajax_id -%>">
		<% (@model_class.sorted_attributes - selected_attributes).each do |attribute| %>
      <%= filter_link(@model_class, attribute, params, @ajax_id) %>
    <% end -%>
  </ul>
</div>
