<% div_class = 'class="form-group has-error"'.html_safe if object.errors.messages[attribute] %>
<tr <%= div_class %>>
	<td>
		<% if attribute == :_color %>
			<%= t(:color) %>
		<% else %>
			<% if help = object.class.help_text(attribute) %>
				<abbr title="<%= help %>">
			<% end %>
			<%#= f.label attribute # why is this removed?%>
			<%= object.class.human_attribute_name(attribute) %>
			<% if help %>
				</abbr>
			<% end %>
		<% end %>
		<%#= help_link(object, attribute) %>
	</td>
	<td colspan="2">
		<%= edit_attribute_value(object, attribute, f, new_object) %>
	</td>
</tr>

