<% if @right and @model_class.searching_enabled? -%>
	<% link_hash = {:action => :index, :ajax_id => @ajax_id} -%>
	<% link_hash.merge!({
		:show_id => @show_object.id, 
		:from_show_table => @from_show_table, 
		:show_relation => @show_relation,
		:add_existing_model => @add_existing_model,
		:previous_ajax_id => @previous_ajax_id,
	}) if @from_show_table -%>
  <div class="row">
    <div class="col-md-12"> 
      <%= form_tag(link_hash, :method => 'get', :remote => true) do %>
        <div class="input-group">
          <span class="input-group-btn">
            <%= link_to(icon("filter", '', :class =>"fa-lg"), link_hash.merge(filter: true), :remote => true, :class => "btn btn-default spinner") %>
            <label for="search_button_<%= @ajax_id %>" class="btn btn-default spinner">
              <%= icon("search", '', :class => "fa-lg") %>
            </label>
            <%= button_tag(t(:search), :class => "hidden spinner", :id => "search_button_#{@ajax_id}") %>
          </span>
          <%= text_field_tag('search', @search_string, :type => "search", :class => "form-control", :placeholder => t(:search)) %>
          <span class="spinner input-group-btn<%= ' hidden' if not @search_string or @search_string == '' %>">
              <%= link_to icon("times-circle-o", '', :class => "fa-lg"), link_hash.merge(:search => ""), :remote => true, :class => "spinner btn btn-default spinner" %>
          </span>
        </div> <!-- input-group-->
      <% end -%>
    </div>
  </div>
  <% if @filter -%>
    <%= render partial: "layouts/filter_form", locals: {link_hash: link_hash.merge(filter: @filter)} %>
  <% end -%>
<% end -%>
