<div class="col-md-4">
	<div class="list-group">
		<% 
			html_class = if not @current_element_selected
				"list-group-item spinner" 
			else 
				"list-group-item active spinner" 
			end 
		%>
		<%= link_to(
			t(:current_element), 
			self.send("#{@object.class.to_s.underscore}_path", :vcs => true, :current_element => true, :ajax_id => @ajax_id), 
			:remote => true, 
			:class => html_class 
		) %>
		<% @object.versions.each do |version| %>
			<% html_class = ["list-group-item", "spinner"] %>
			<% html_class.push "active" if @version_id.to_i == version.id %>
			<%= link_to(
				version.created_at.to_s(:long), 
				self.send("#{@object.class.to_s.underscore}_path", :vcs => true, :version_id => version.id, :ajax_id => @ajax_id), 
				:remote => true, 
				:class => html_class.join(' ')
			) %>
		<% end -%>
	</div> <!-- list-group -->
</div> <!-- col-md-4 -->
<div class="col-md-8">
	<% if msg = flash[:error] %>
		<div class="alert alert-danger">
			<%= flash[:error] %>
		</div>
	<% end -%>
	<% if msg = flash[:notice] %>
		<div class="alert alert-success">
			<%= flash[:notice] %>
		</div>
	<% end -%>
	<%= render(:partial => "layouts/show_table", :locals => {:from_vcs => true, :no_hide => true, :no_close_button => true}) %>
	<%= render(:partial => "layouts/form", :locals => {:from_vcs => true, :object => @object}) if not @current_element_selected %>
</div> <!-- col-md-8 -->
