<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tag %>
    <title>
	    <%= Rails.configuration.inki.title %> 
    </title>
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :application %>
  </head>
  <body>
    <%= render(:template => "layouts/menu", :handlers => [:erb]) %>
		<!--
		<div class="visible-lg col-md-12" style="padding-top: 60px;">
		</div>
		-->
		<div class="container">
			<div class="col-md-12" style="padding-top: 60px;">
			</div>
			<%= yield %>
			<div id="popup">
			</div>
			<div id="alert-box" class="alert-box">
			</div>
		</div>
  </body>
</html>
