<div class="row">
	<div class="col-md-12"> 
		<h2>
			<% if class_icon = @model_class.inki_icon -%>
				<%= icon("fas", class_icon) %>
			<% end -%>
			<%= @model_class.model_name.human(:count => 2) %>
		</h2>
		<div id="<%= "#{@ajax_id}_index_options" %>">
			<%= render :partial => "layouts/index_options" %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
    <div id="list_<%= @ajax_id -%>">
		  <%= render :partial => "layouts/index_table" %>
		</div>
		<div>
		</div>
	</div>

</div>
