<ul class="nav navbar-nav navbar-right">
	<% if @right -%>
		<li>
			<%= button_to({:controller => "logins", :action => "destroy", :id => nil}, :disable_with => t(:logout), :class => "btn btn-warning navbar-btn") do %>
				<%= (content_tag(:span, nil, :class => "glyphicon glyphicon-log-out") + " " + t(:logout)).html_safe %>
			<% end -%>
		</li>
	<% end -%>
	<li class="dropdown">
		<%# get all available languages %>
		<% locales = I18n.available_locales %>
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<%= image_tag "#{I18n.locale}.png", :class => "icon"  %>
			<%= Rails.configuration.inki.languages[I18n.locale.to_s] %>
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<% Rails.configuration.inki.languages.each do |locale,language| %>
				<% if locale.to_sym != I18n.locale %>
					<li>
						<% flag = image_tag "#{locale}.png", :class => "icon" %>
						<%= link_to flag + ' ' + language, :locale => locale if locales.member?(locale.to_sym) %>
					</li>
				<% end -%>
			<% end -%>
		</ul>
	</li>
</ul>
<p class="navbar-text pull-right visible-lg"><%= @user_name %> &nbsp;</p>
<p class="navbar-text pull-right visible-lg">
	<i class="icon-spinner icon-spin icon-large" style="display:none" id="waiting_bar"></i>
</p>
