<!-- <p class="navbar-text pull-right">Wolfgang Hennerbi</p> -->
<ul class="nav navbar-nav navbar-right">
	<!-- <li class="divider-vertical">
	</li> -->
	<% if @right -%>
		<li class="pull-right">
			<%= button_to(t(:logout), {:controller => "logins", :action => "destroy", :id => nil}, :disable_with => t(:logout), :class => "btn btn-warning navbar-btn") %>
		</li>
	<% end -%>
	<li class="pull-right dropdown">
		<%# get all available languages %>
		<% locales = I18n.available_locales %>
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<%= image_tag "#{I18n.locale}.png", :class => "icon"  %>
			<%= Rails.configuration.inki.languages[I18n.locale.to_s] %>
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<% Rails.configuration.inki.languages.each do |locale,language| %>
				<% if locale.to_sym != I18n.locale %>
					<li>
						<% flag = image_tag "#{locale}.png", :class => "icon" %>
						<%= link_to flag + ' ' + language, :locale => locale if locales.member?(locale.to_sym) %>
					</li>
				<% end -%>
			<% end -%>
		</ul>
	</li>
	<li class="pull-right" style="width: 16px;">
		<%= image_tag "spinner.gif", :id => "waiting_bar", :class => "spinner", :style => "display:none; padding-top: 10pt;" %>
	</li>
</ul>
