<h1><%= @object.title if defined? @object.title %></h1>
<div class="left_aligned">
	<%= back_link(@object) %>
	<span id="<%= @div_id %>_options">
		<%= render :partial => "layouts/show_options" %>
	</span>
	<div class="left_aligned">
		<%= render :partial => "layouts/show_table", :locals => {:non_dropdown_view => true} %>
	</div>
</div>


